@import 'global';

.authpage {
  width: 100%;
  height: 100%;
  background-color: $deep-blue;
}

.authpage-left {
  width: 50%;
  height: 100%;
  background-color: #0060bf;
  float: left;
}

.authpage-right {
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: authform 1s forwards;
  background-color: white;
  overflow: hidden;
}
@keyframes authform {
  0% { width: 0; }
  100% { width: 50% }
}

.authpage-logo {
  margin-left: 23%;
  width: 300px;
  padding: 30px 0;
}

.productivity-tip {
  display: block;
  margin-left: 23%;
  margin-top: 200px;
  width: 300px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.65;
}

.signup-form {
  font-family: 'Nunito', sans-serif;
  width: 390px;
}
.login-form {
  font-family: 'Nunito', sans-serif;
  width: 390px;
}
.authpage-right form label, .authpage-right form input {
  display: block;
  width: 100%;
}
.authpage-right form label {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
}
.authpage-right form input[type="text"], .authpage-right form input[type="password"] {
  font-size: 20px;
  color: grey;
  font-family: 'Nunito', sans-serif;
}
.authpage-right form input[type="submit"] {
  width: 50%;
  height: 30px;
  margin: 0 auto;
  background-color: #0060bf;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 16px;
  border: none;
}

.guest-login {
  padding: 4px 11px;
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
