@import 'global';

.nav-top:hover {
  background-color: $highlight-blue;
}
.nav-top:focus {
  color: $deep-blue;
}


.filters {
  margin-left: 11px;
  margin-right: 11px;
  font-size: 13px;
  line-height: 22px;
  .filters:hover {
    background: black;
    font-size: 20px;
  }
  a {
    display: block;
    font-size: 13px;
  }
  .nav-parent {
  }
  .nav-top {
    display: flex;
    align-items: center;
    cursor: pointer;
    .all-tasks {
      padding-left: 8px;
    }
    .menu-arrow {
      color: $deep-blue;
    }
  }
  .menu-items {
    padding-left: 16px;
  }
}
