$light-blue: #D7E7F5;
$light-grey: #e5e5e5;
$medium-grey: #c0c0c0;
$grey: #8c8c8c;
$bright-blue: #2e8ceb;
$light-yellow: #ffc;
$faded-blue: #dbe8f6;
$faded-grey: #e4eef8;
$border-blue: #c5dcf2;
$deep-blue: #0060bf;
$border-grey: rgb(209, 209, 209);
$offwhite: #fbfbfa;
$icon-blue: #7ab2e0;
$highlight-blue: #bfd7ef;
$nav-highlight: rgb(215, 231, 245);

a {
  text-decoration: none;
}

.main-container {
  width: 100%;
  height: 100%;
}
