.animation-container {
  width: 100%;
  height: 100%;
}

.assets-container {
  display: block;
  width: 450px;
  margin: 5% auto 0 auto;
  position: relative;
}

.smile {
  position: absolute;
  width: 40px;
  left: 45%;
  top: 110px;
}
