@import 'global';

.searchbar {
  width: 100%;
  height: 40px;
  background-color: #0060bf;
  position: relative;
  display: flex;
  align-items: center;
}

.search-field-container {
  float: left;
  max-width: 250px;
  width: 250px;
  height: 30px;
  position: relative;
  margin-left: 180px;
  display: flex;
  align-items: center;
  .fa-search {
    position: absolute;
    display: block;
    left: 0;
    margin-left: 10px;
    color: white;
  }
  input {
    height: 100%;
    display: block;
    padding-left: 33px;
    outline: none;
    :placeholder {
      color: white;
    }
  }
}

.search-field {
  width: 100%;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color .25s;
}

.search-field:focus {
  background-color: white;
}
.search-field:focus + .fa-search {
  color: $light-grey;
}

.main-navbar {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

.main-navbar button {
  border: none;
  background-color: white;
  color: #0060bf;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.main-navbar button:hover {
  background-color: rgba(255, 255, 255, 0.66);
}

.main-navbar a {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: white;
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 5px;
  float: right;
}

.main-navbar a:hover {
  background-color: rgba(255, 255, 255, 0.66);
  color: #0060bf;
}

.lists-div {
  margin-top: 10px;
  .list-row {
    cursor: pointer;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: $highlight-blue;
    p {
      float: left;
      font-size: 12px;
    }
  }
}

// .add-new-icon {
//   position: absolute;
//   right: 0;
//   top: 2px;
//   bottom: 2px;
//   font-size: 10px;
//   padding: 0 5px 3px 0;
//   margin-right: 5px;
// }

.add-new-icon {
  display: block;
  position: absolute;
  height: 10px;
  right: 0;
  font-size: 8px;
  padding: 1px 2px;
  border-radius: 4px;
  color: $icon-blue;
  border: 1px solid $icon-blue;
  display: flex;
  align-items: center;
  margin-right: 5px;

}
.add-new-icon:hover {
  color: $light-blue;
  background-color: $icon-blue;
}
