@import "global";

.tasks-list-ul {
  margin-top: 5px;
  a {
    color: black;
    li {
      height: 30px;
      font-size: 12px;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding-left: 15px;
      border-top: 1px dotted $light-grey;
      }
    li:hover {
      background-color: $light-yellow;
    }
    input {
      margin-right: 5px;
    }
  }
}

.mini-line {
  height: 90%;
  width: 3px;
  border-radius: 3px;
  background-color: $medium-grey;
  margin-right: 5px;
}
